body, html {
  height: 100%;
}

hr {
  width: 100%;
  border: 1px solid black;
}

#strong {
  width: 100%;
  white-space: normal;
  word-break: break-all;
  text-align: center;
}

.monaco-flow-wrapper {
  width: 100%;
  height: 70%;
  display: flex;
  flex-direction: row;
}

.tools-editors-wrapper {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
}

.window {
  position: absolute;
}

.window:hover {
  box-shadow: 2px 2px 19px #444;
  -o-box-shadow: 2px 2px 19px #444;
  -webkit-box-shadow: 2px 2px 19px #444;
  -moz-box-shadow: 2px 2px 19px #fff;
}
