.demo {
    /* for IE10+ touch devices */
    touch-action:none;
}
html, body {
  height: 100%;
}
/** ELEMENTS **/
.window {
    position: absolute;
}

.window:hover {
    box-shadow: 2px 2px 19px #444;
    -o-box-shadow: 2px 2px 19px #444;
    -webkit-box-shadow: 2px 2px 19px #444;
    -moz-box-shadow: 2px 2px 19px #fff;
}

.source-target-demo .window {
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 0.5em;
}

.smallWindow {
    background-color: #558822;
    cursor: move;
}
/** ENABLE/DISABLE LINK **/
#enableDisableSource {
    position: absolute;
    top: 1em;
    right:5px;
    color: #DDD;
    font-size:12px;
}

#enableDisableSource:hover {
    color: orange;
}

.bottomContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
  width: 100%;
  height: 100%;
}

.typeImg {
  width: 40px;
  height: 40px;
}

.typeWindow {
  width: 100%;
  height: 20%;
  position: relative;
  bottom: 110%;
}

.enableDisableTarget {
    color:white;
    right:5px;
    top:5px;
    position:absolute;
    font-size:12px;
}


.enableDisableTarget:visited, .enableDisableTarget:focus {
    color:white;
}

.enableDisableTarget:hover {
    color: orange;
}

.element-disabled {
    outline:2px solid lightcoral;
}

.sourceWindow {
  background-color: white;
  border: 1px solid black;
  color: black;
  border-radius: 10px;
  left: 14em;
  width: auto;
  height: auto;
  z-index: 3000;
}

.labelContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  position: relative;
  bottom: 23%;
  right: 5%;
}

#moveButton {
  margin-left: 3px;
}
#editButton {
  margin-left: 15px;
}


/** LARGE WINDOW STYLE AND POSITION **/


#strong {
  width: 100%;
  white-space: normal;
  word-break: break-all;
}
/** JSPLUMB ARTEFACTS **/
.jtk-endpoint {
    z-index: 32;
}

.jtk-overlay {
  margin-top: 1%;
  margin-left: 1%;
}

.jtk-demo-main, #canvas {
  min-height: 2500px;
  min-width: 2500px;
  background-color: white;
  position: absolute;
}

path, .jtk-endpoint {
    cursor: pointer;
}

/* ENDPOINT STYLES */
.large-green circle {
    fill:#558822;
}

.small-blue circle {
    fill:#0d78bc;
}
