.top-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  background: url("../media/images/header-profile.png") repeat;
  color: white;
}

.top-wrapper h2 {
  margin-left: 10%;
}

.fileBox {
  width: 100%;
  height: 10%;
  display: none;
}

.wrapper:hover {
  background-color: green;
}

/* .top-wrapper .wrapper:hover~.fileBox {
  display: flex;
  background-color: black;
  justify-content: start;
} */
