/** JSPLUMB ARTEFACTS **/
.jtk-endpoint {
  z-index: 32;
}

.jtk-overlay {
  margin-top: 1%;
  margin-left: 1%;
}




path, .jtk-endpoint {
  cursor: pointer;
}

/* ENDPOINT STYLES */
.large-green circle {
  fill: #558822;
}

.small-blue circle {
  fill: #0d78bc;
}
