/** JSPLUMB ARTEFACTS **/
.jtk-endpoint {
  z-index: 32;
}

.jtk-overlay {
  margin-top: 1%;
  margin-left: 1%;
}

.jtk-demo-main, #canvas {
  min-height: 2500px;
  min-width: 2500px;
  position: absolute;
}


path, .jtk-endpoint {
  cursor: pointer;
}

/* ENDPOINT STYLES */
.large-green circle {
  fill: #558822;
}

.small-blue circle {
  fill: #0d78bc;
}
