.monacoContainer {
  min-width: 35%;
  height: 100%;
  border: 1px solid grey;
  resize: horizontal;
  overflow: auto;
  display: none;
}

.fullMonacoContainer {
  width: 100%;
  display: flex;
}

.myGlyphMarginClass {
  background: red;
}

.myContentClass {
  background: yellow;
  opacity: 0.4;
}
