.pipeInfo {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  flex-shrink: 0;
}

.pipeInfoWrapper {
  height: 100%;
  width: 100%;
  overflow-y: auto;
  background: #F3F3F4;
}

.pipeInfo h2 {
  width: 95%;
}

.pipeInfo p {
  font-family: Gill Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
}

.pipeInfo hr {
  border: 1px solid #DDDDDD;
}

.pipeNameTypeInfo {
  width: 95%;
  height: 100%;
  margin-top: 15px;
  margin-bottom: 5px;
  display: flex;
  flex-direction: column;
  padding: 15px 20px;
  background: #FFFFFF;
  box-shadow: 2px 2px 1px rgba(103, 106, 108, 0.4), inset 0px 3px 0px #E7EAEC;
  overflow-y: auto;
}

.pipeNameTypeInfo label, select, input {
  width: 30%;
}

.forwardsInfo {}

.attributeWrapper {
  display: flex;
  flex-direction: column;
}

.paramAttributeWrapper {
  display: flex;
  flex-direction: row;
}

.parameterContent {
  display: flex;
  border: 1px solid grey;
  width: 100%;
  height: 30%;
  margin: 0.3%;
}

.parameterContent p {
  width: 40%;
}
.parameterToolbox {
  display: none;
  width: 100%;
  height: auto;
  border: 1px solid grey;
  margin: 0.3%;
  padding: 1%;
  padding-top: 1.5%;
}

.parameterToolbox input {
  height: 80%;
}

.deleteButton {
  width: 30%;
}

.tabs {
  width: 100%;
}

#parameterDelete {
  margin-left: 58%;
  margin-top: .5%;
}

@media only screen and (max-width: 1300px) {
  .parameterContent {
    height: 20%;
  }
}
