.pipeInfo {
  height: 550%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  flex-shrink: 0;
}

.pipeInfoWrapper {
  height: 30%;
  width: 100%;
  overflow-y: scroll;
  background: #F3F3F4;
}

.pipeInfo h2 {
  width: 95%;
}

.pipeInfo p {
  font-family: Gill Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
}

.pipeInfo hr {
  border: 1px solid #DDDDDD;
}

.pipeNameTypeInfo {
  width: 95%;
  height: 50%;
  margin-top: 15px;
  margin-bottom: 5px;
  display: flex;
  flex-direction: column;
  padding: 15px 20px;
  background: #FFFFFF;
  box-shadow: 2px 2px 1px rgba(103, 106, 108, 0.4), inset 0px 3px 0px #E7EAEC;
}

.pipeNameTypeInfo label, select, input {
  width: 30%;
}

.forwardsInfo {}

.attributeWrapper {
  display: flex;
  flex-direction: column;
}
