<ngx-smart-modal
  #confirmDialog
  (onDataAdded)="onDataAdded()"
  (onAnyCloseEvent)="cancel()"
  class="confirmDialog"
  customClass="nsm-centered"
  identifier="confirmDialog"
>
  <div>
    <h1>{{ modalData?.title }}</h1>
    <p>
      {{ modalData?.text }}
    </p>
  </div>
  <div>
    <input
      type="checkbox"
      [checked]="!showConfirmPopup"
      (change)="showConfirmPopup = !showConfirmPopup"
    />
    Don't show this message again
  </div>
  <div class="button-actions">
    <app-button (click)="confirm()">Confirm</app-button>
    <app-button (click)="cancel()">Cancel</app-button>
  </div>
</ngx-smart-modal>
