<ngx-smart-modal
  #settingsModal
  class="settingsModal"
  customClass="nsm-centered"
  identifier="settingsModal"
>
  <div class="settings-container">
    <h1>Settings</h1>
    <div class="input-row">
      <label>Enable dark mode</label>
      <app-toggle
        (stateChange)="setSettings()"
        [(state)]="settings.darkMode"
      ></app-toggle>
    </div>
    <div class="input-row">
      <label>Show confirmation popups</label>
      <app-toggle
        (stateChange)="setSettings()"
        [(state)]="settings.showPopups"
      ></app-toggle>
    </div>
    <div class="input-row">
      <label for="switch-without-saving-options"
        >What do you want to do with the current file when switching
        files?</label
      >
      <select
        (ngModelChange)="setSettings()"
        [(ngModel)]="settings.switchWithoutSaving"
        id="switch-without-saving-options"
      >
        <option [value]="switchWithoutSavingOptions.ask">Ask me</option>
        <option [value]="switchWithoutSavingOptions.save">Save</option>
        <option [value]="switchWithoutSavingOptions.discard">Discard</option>
      </select>
    </div>
    <div class="input-row">
      <label for="edit-mode">Default edit mode</label>
      <select
        (ngModelChange)="setSettings()"
        [(ngModel)]="settings.defaultMode"
        id="edit-mode"
      >
        <option [value]="modeType.flowMode">Flow</option>
        <option [value]="modeType.hybridMode">Hybrid</option>
        <option [value]="modeType.editorMode">Editor</option>
      </select>
    </div>
  </div>
</ngx-smart-modal>
