<ngx-smart-modal
  class="saveDialog"
  customClass="nsm-centered"
  #saveDialog
  identifier="saveDialog"
  (onDataAdded)="onDataAdded()"
>
  <div>
    <h1>Switching files without saving</h1>
  </div>
  <div>
    <p>
      <b>'{{ currentFile?.configuration }}: {{ currentFile?.path }}'</b> has
      unsaved changes. <br /><br />
      What would you like to do before switching to<b>
        '{{ this.item?.configuration }}: {{ this.item?.path }}'</b
      >?
    </p>
  </div>
  <div class="button-actions">
    <app-button (click)="save()">Save</app-button>
    <app-button (click)="discard()">Discard</app-button>
    <app-button (click)="saveDialog.close()">Cancel</app-button>
  </div>
</ngx-smart-modal>
