.root {
  height: 100%;
  width: 100%;

  .main-container {
    height: calc(100% - 64px);
    display: flex;

    .useAllSpace {
      width: 100%;
    }

    .shareSpace {
      width: 50%;
    }
  }
}
