#canvas {
  background-position-x: -50px;
  background-position-y: -50px;
  background-size: 100px 100px;
  background-image: radial-gradient(
    circle,
    var(--border-color) 1px,
    var(--bg-color) 1px
  );
  display: inline-block;
  position: relative;
  width: 2000px;
  height: 2000px;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
  background: rgb(0 0 0 / 50%);
}
