<div [className]="'group group--' + color">
  <div class="group__header">
    <div>{{ this.type }}</div>
    <fa-icon [icon]="foldArrow()" (click)="toggleFold()"></fa-icon>
  </div>
  <div class="group__list" [hidden]="foldGroup">
    <ng-container
      *ngIf="items != undefined && items.length > 0; else emptyGroup"
    >
      <app-item
        [color]="color"
        *ngFor="let item of items"
        [name]="item.name"
        (click)="addNode(item)"
      ></app-item>
    </ng-container>
  </div>
</div>
<ng-template #emptyGroup>
  <p>No results.</p>
</ng-template>
