:host {
  overflow: hidden;
}

.group {
  width: 100%;
  height: 100%;
  display: grid;
  background-color: var(--bg-color);
  color: var(--text-color);

  &--primary {
    border-top: 2px solid var(--primary);
  }

  &--accent {
    border-top: 2px solid var(--accent);
  }

  &--success {
    border-top: 2px solid var(--success);
  }

  &--info {
    border-top: 2px solid var(--info);
  }

  &--warning {
    border-top: 2px solid var(--warning);
  }

  &--danger {
    border-top: 2px solid var(--danger);
  }

  &__header {
    padding: 16px;
    border-bottom: 2px solid var(--border-color);
    display: flex;
    justify-content: space-between;
  }

  &__list {
    border-bottom: 2px solid var(--border-color);
    padding: 8px 0;
    overflow-y: scroll;

    p {
      margin: 4px 16px;
    }
  }
}
