# IDE
.settings
.idea/
*.iml
target
lib
bin
frank-flow.properties
.project

# Maven build
/target
.mvn
dependency-reduced-pom.xml

# Cypress output
frank-flow/src/frontend/cypress/videos/

# Test frank config
frank-flow/src/frontend/cypress/Frank/target
frank-flow/src/frontend/cypress/Frank/.gitignore
frank-flow/src/frontend/src/environments/environment.ts

**/META-INF/maven
**/META-INF/MANIFEST.MF