# IDE
.settings
.idea/
*.iml
target
lib
bin
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# Maven build
target/
.mvn
dependency-reduced-pom.xml
.flattened-pom.xml

**/META-INF/maven
**/META-INF/MANIFEST.MF
node_modules/
