# IDE
.settings
.idea/
*.iml
target
lib
bin
frank-flow.properties

# Maven build
/target
.mvn
dependency-reduced-pom.xml

# Cypress output
/src/frontend/cypress/videos/

# Test frank config
/src/frontend/cypress/Frank/target
/src/frontend/cypress/Frank/.gitignore
src/frontend/src/environments/environment.ts

**/META-INF/maven
**/META-INF/MANIFEST.MF