:host {
  position: absolute;
  width: 200px;
  height: 100px;
  padding: 0.5em;
  border-radius: 10px;
  color: var(--accent);
  background: var(--accent-whiten);
  border: 1px solid var(--accent-dark);
  font-size: 14px;
  transition: transform 0.4s, box-shadow 0.4s;
  box-shadow: 2px 2px 4px var(--accent-shadow);

  &:hover {
    cursor: grab;
  }

  &.isActive {
    box-shadow: 5px 5px 10px var(--accent-shadow);
  }
  &.jtk-drag {
    box-shadow: 15px 15px 30px var(--accent-shadow);
    transform: scale(1.1);
  }

  &.shape--oval {
    border-radius: 100%;

    .node {
      grid-template-columns: auto;
      text-align: center;

      &__type {
        grid-row-start: 2;
        grid-column-start: 1;
      }

      &__name {
        grid-row-start: 3;
        grid-column-start: 1;
      }
    }
  }

  &.shape--square,
  &.shape--round {
    width: 100px;
    height: 100px;

    .node {
      grid-template-columns: auto;
      text-align: center;

      &__type {
        grid-row-start: 2;
        grid-column-start: 1;
      }

      &__name {
        grid-row-start: 3;
        grid-column-start: 1;
      }
    }
  }

  &.shape--round {
    border-radius: 100%;
  }

  &.color--primary {
    color: var(--primary);
    background: var(--primary-whiten);
    border: 1px solid var(--primary-dark);
    box-shadow: 2px 2px 4px var(--primary-shadow);

    &.isActive {
      box-shadow: 5px 5px 10px var(--primary-shadow);
    }
    &.jtk-drag {
      box-shadow: 15px 15px 30px var(--primary-shadow);
    }
  }

  &.color--info {
    color: var(--info);
    background: var(--info-lighter-45);
    border: 1px solid var(--info-dark);
    box-shadow: 2px 2px 4px var(--info-shadow);

    &.isActive {
      box-shadow: 5px 5px 10px var(--info-shadow);
    }
    &.jtk-drag {
      box-shadow: 15px 15px 30px var(--info-shadow);
    }
  }

  &.color--success {
    color: var(--success);
    background: var(--success-whiten);
    border: 1px solid var(--success-dark);
    box-shadow: 2px 2px 4px var(--success-shadow);

    &.isActive {
      box-shadow: 5px 5px 10px var(--success-shadow);
    }
    &.jtk-drag {
      box-shadow: 15px 15px 30px var(--success-shadow);
    }
  }

  &.color--warning {
    color: var(--warning);
    background: var(--warning-whiten);
    border: 1px solid var(--warning-dark);
    box-shadow: 2px 2px 4px var(--warning-dark);

    &.isActive {
      box-shadow: 5px 5px 10px var(--warning-shadow);
    }
    &.jtk-drag {
      box-shadow: 15px 15px 30px var(--warning-shadow);
    }
  }

  &.color--danger {
    color: var(--danger);
    background: var(--danger-lighter-35);
    border: 1px solid var(--danger-dark);
    box-shadow: 2px 2px 4px var(--danger-shadow);

    &.isActive {
      box-shadow: 5px 5px 10px var(--danger-shadow);
    }
    &.jtk-drag {
      box-shadow: 15px 15px 30px var(--danger-shadow);
    }
  }

  .node {
    display: grid;
    grid-template-columns: min-content auto;
    grid-column-gap: 0.5em;

    &__icon {
      grid-column-start: 1;
    }

    &__type {
      grid-column-start: 2;
      white-space: nowrap;
      overflow: hidden;
      font-weight: bold;
      text-overflow: ellipsis;
    }

    &__name {
      grid-column-start: 2;
      grid-row-start: 2;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
}
