:host {
  position: absolute;
  width: 200px;
  height: 100px;
  padding: 10px;
  border-radius: 10px;
  color: var(--accent);
  background: var(--accent-lighter-9);
  border: 1px solid var(--accent-darker-1);
  font-size: 14px;
  transition: box-shadow 0.2s, transform 0.2s;

  &.jtk-drag {
    box-shadow: var(--shadow-high-accent);
    transform: scale(1.05);
  }

  &.shape--oval {
    border-radius: 100%;

    .node {
      grid-template-columns: auto;
      text-align: center;

      &__type {
        grid-row-start: 2;
        grid-column-start: 1;
      }

      &__name {
        grid-row-start: 3;
        grid-column-start: 1;
      }
    }
  }

  &.shape--square,
  &.shape--round {
    width: 100px;
    height: 100px;

    .node {
      grid-template-columns: auto;
      text-align: center;

      &__type {
        grid-row-start: 2;
        grid-column-start: 1;
      }

      &__name {
        grid-row-start: 3;
        grid-column-start: 1;
      }
    }
  }

  &.shape--round {
    border-radius: 100%;
  }

  &.color--primary {
    color: var(--primary);
    background: var(--primary-lighter-4);
    border: 1px solid var(--primary-darker-1);

    &.jtk-drag {
      box-shadow: var(--shadow-high-primary);
    }
  }

  &.color--info {
    color: var(--info);
    background: var(--info-lighter-8);
    border: 1px solid var(--info-darker-1);

    &.jtk-drag {
      box-shadow: var(--shadow-high-info);
    }
  }

  &.color--success {
    color: var(--success);
    background: var(--success-lighter-4);
    border: 1px solid var(--success-darker-1);

    &.jtk-drag {
      box-shadow: var(--shadow-high-success);
    }
  }

  &.color--warning {
    color: var(--warning);
    background: var(--warning-lighter-4);
    border: 1px solid var(--warning-darker-1);

    &.jtk-drag {
      box-shadow: var(--shadow-high-warning);
    }
  }

  &.color--danger {
    color: var(--danger);
    background: var(--danger-lighter-6);
    border: 1px solid var(--danger-darker-1);

    &.jtk-drag {
      box-shadow: var(--shadow-high-danger);
    }
  }

  .node {
    display: grid;
    grid-template-columns: min-content auto;
    grid-column-gap: 0.5em;

    &__icon {
      grid-column-start: 1;
    }

    &__type {
      grid-column-start: 2;
      white-space: nowrap;
      overflow: hidden;
      font-weight: bold;
      text-overflow: ellipsis;
    }

    &__name {
      grid-column-start: 2;
      grid-row-start: 2;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  &:hover {
    cursor: grab;
  }

  &:active {
    cursor: grabbing;
  }

  &.isActive {
    border: 5px solid var(--primary);
    padding: calc(10px - 4px);
  }
}
