<div class="node">
  <div class="node__icon">
    <fa-icon [icon]="puzzlePiece"></fa-icon>
  </div>
  <div [title]="node.getType()" class="node__type">
    {{ node.getType() }}
  </div>
  <div [title]="node.getName()" class="node__name">
    {{ node.getName() }}
  </div>
  <div class="node__badges">
    <div
      [title]="senders[0]?.name"
      *ngIf="senders.length === 1; else senderCount"
      class="node__sender"
    >
      <fa-icon size="xs" [icon]="paperPlane"></fa-icon> {{ senders[0]?.name }}
    </div>
    <ng-template #senderCount>
      <div
        [title]="senders.length + ' senders'"
        *ngIf="senders.length > 1"
        class="node__sender"
      >
        <fa-icon size="sm" [icon]="paperPlane"></fa-icon>
        {{ senders.length }} senders
      </div>
    </ng-template>
  </div>
</div>
