<div class="node">
  <div class="node__icon">
    <fa-icon [icon]="['fas', 'puzzle-piece']"></fa-icon>
  </div>
  <div [title]="node.getType()" class="node__type">
    {{ node.getType() }}
  </div>
  <div [title]="node.getName()" class="node__name">
    {{ node.getName() }}
  </div>

  <div class="node__badges">
    <div
      *ngFor="let badge of badges"
      [title]="badge?.title"
      [class]="'node__badge node__badge--' + badge?.style"
    >
      <fa-icon size="xs" [icon]="['fas', badge?.icon]"></fa-icon>
      {{ badge?.title }}
    </div>
  </div>
</div>
