.flowContainer {
  display: grid;
  grid-template-columns: auto 256px;
  height: 100%;
  background-color: var(--border-color);
}

.panzoom {
  display: grid;
  grid-template-rows: auto 35px;
  grid-template-columns: auto 35px;
  gap: 16px;

  .arrows {
    display: flex;
    gap: 16px;
    justify-content: center;

    fa-icon {
      color: var(--dark-cyan);
    }

    &--horizontal {
      flex-direction: column;
    }

    &--vertical {
      flex-direction: row;
    }
  }
}
