<div class="flow-container">
  <div>
    <pan-zoom
      [config]="panZoomConfig"
      [hidden]="fileIsLoading || !fileIsConfiguration || fileIsEmpty"
    >
      <div class="panzoom">
        <app-canvas #nodeContainer [panzoomConfig]="panZoomConfig"></app-canvas>
      </div>
    </pan-zoom>
    <app-actions
      *ngIf="fileIsConfiguration; else noCanvas"
      class="flow-container__actions"
    >
    </app-actions>
  </div>
  <app-palette></app-palette>
</div>
<app-options></app-options>

<ng-template #noCanvas>
  <div *ngIf="fileIsEmpty" class="flow-container__no-canvas-message">
    <span>No file selected, please select a file in the Explorer</span>
  </div>
  <div *ngIf="fileIsLoading" class="flow-container__no-canvas-message">
    <span>The file is loading in. Please wait.</span>
  </div>
  <div
    *ngIf="!fileIsConfiguration && !fileIsLoading && !fileIsEmpty"
    class="flow-container__no-canvas-message"
  >
    <span>The selected file does not contain a flow.</span>
  </div>
</ng-template>
