<div class="flow-container">
  <div>
    <pan-zoom
      [config]="panZoomConfig"
      [hidden]="fileIsLoading || !fileIsConfiguration || fileIsEmpty"
    >
      <div class="panzoom">
        <app-canvas #nodeContainer [panzoomConfig]="panZoomConfig"></app-canvas>
      </div>
    </pan-zoom>
    <app-actions
      *ngIf="fileIsConfiguration; else noCanvas"
      class="flow-container__actions"
    >
    </app-actions>
  </div>
  <app-palette
    *ngIf="settings.showPalette && fileIsConfiguration"
  ></app-palette>
</div>
<app-options></app-options>

<ng-template #noCanvas>
  <div *ngIf="fileIsEmpty" class="flow-container__no-canvas-message">
    <span>No file selected, please select a file in the Explorer</span>
  </div>
  <div *ngIf="fileIsLoading" class="flow-container__no-canvas-message">
    <span>The file is loading in. Please wait.</span>
  </div>
  <div
    *ngIf="
      !fileIsConfiguration &&
      !fileIsLoading &&
      !fileIsEmpty &&
      !fileIsOldSyntaxConfiguration
    "
    class="flow-container__no-canvas-message"
  >
    <span>The selected file does not contain a flow.</span>
  </div>
  <ng-container
    *ngIf="
      !fileIsConfiguration &&
      !fileIsLoading &&
      !fileIsEmpty &&
      fileIsOldSyntaxConfiguration
    "
  >
    <div class="flow-container__no-canvas-message">
      <span
        >Your configuration appears to use the old syntax. Would you like to
        convert it?</span
      >
    </div>
    <div class="flow-container__no-canvas-message">
      <app-button (click)="convertConfiguration()"
        >Convert Configuration</app-button
      >
    </div>
  </ng-container>
</ng-template>
<app-create-forward></app-create-forward>
