.flow-container {
  display: grid;
  grid-template-columns: auto 256px;
  height: 100%;
  background-color: var(--border-color);

  &__actions {
    margin: 16px;
    padding: 16px;
    background: var(--bg-color-muted-shadow);
    position: relative;
    top: calc(64px - 100vh);
    right: 0;
    display: flex;
    gap: 16px;
    width: fit-content;
  }

  &__no-canvas-message {
    margin: 16px;
    padding: 16px;
    background: var(--bg-color-muted-shadow);
    color: var(--text-color);
    display: flex;
    gap: 16px;
    width: fit-content;
  }
}

.panzoom {
  display: grid;
  grid-template-rows: auto 35px;
  grid-template-columns: auto 35px;
  gap: 16px;

  .arrows {
    display: flex;
    gap: 16px;
    justify-content: center;

    fa-icon {
      color: var(--dark-cyan);
    }

    &--horizontal {
      flex-direction: column;
    }

    &--vertical {
      flex-direction: row;
    }
  }
}
