<div class="header">
  <div class="header__logo">
    <img src="./assets/images/frank-flow-logo.svg" />
  </div>
  <div class="header__actions">
    <app-button color="dark">
      <fa-icon icon="file"></fa-icon>
    </app-button>
    <app-button color="dark">
      <fa-icon icon="folder"></fa-icon>
    </app-button>
    <select>
      <option disabled selected>Choose a configuration</option>
      <option>Config 1</option>
    </select>
    <app-button color="dark">
      <fa-icon icon="save"></fa-icon>
    </app-button>
  </div>
  <app-modes></app-modes>
</div>
