@import "~src/assets/styles/variables";

.header {
  width: 100%;
  height: 65px;
  background: $background-color-dark;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__logo {
    height: 100%;
    width: 256px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('~src/assets/images/header-profile.png');
  }

  &__actions {
    display: flex;
    gap: 16px;

    select {
      width: 25vw;
      //height: 32px;
      border: 1px solid $border-color;
    }
  }

  &__modes {
    width: 256px;
    display: flex;
    justify-content: center;
    gap: 16px;
  }
}
