<div class="header">
  <div class="header__logo">
    <img src="./assets/images/frank-flow-logo.svg" />
  </div>
  <div class="header__actions">
    <app-button color="dark">
      <fa-icon icon="file" transform="down-1"></fa-icon>
    </app-button>
    <app-button color="dark">
      <fa-icon icon="folder" transform="down-1"></fa-icon>
    </app-button>
    <app-selector> </app-selector>
    <app-button [selected]="!currentFile?.saved" (click)="save()" color="dark">
      <fa-icon icon="save" transform="down-1"></fa-icon>
    </app-button>
  </div>
  <div class="header__actions--right">
    <app-modes></app-modes>
    <app-button (click)="openSettings()" color="dark">
      <fa-icon icon="cog" transform="down-1"></fa-icon>
    </app-button>
  </div>
</div>
<app-settings></app-settings>
