@import 'variables';
@import 'toastr';
@import 'ngx-smart-modal';
@import 'jqx.base';
@import 'inputs';
@import 'theme';
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  transition: background-color 0.2s;
}

html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  overflow: hidden;
  color: var(--text-color);
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 14px;
}

.monaco-editor__line--highlighted {
  background: var(--accent-transparant);
}

.toast-container {
  z-index: 10;
}
