@import 'variables';
@import 'toastr';
@import 'ngx-smart-modal';
@import 'jqx.base';
@import 'inputs';
@import 'theme';

* {
  box-sizing: border-box;
  transition: background-color 0.4s;
}

html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  overflow: hidden;
  color: var(--text-color);
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.highlightColor {
  background: yellow;
  background: rgba(71, 111, 48, 0.5);
}
