@import 'variables';

input[type='text'] {
  padding: 16px;
  width: 100%;
  height: 32px;
  border: 2px solid var(--border-color);
  background-color: var(--bg-color);
  color: var(--text-color);

  &:focus {
    outline: 0;
  }
}

select {
  height: 32px;
  border: 2px solid var(--border-color);
  background-color: var(--bg-color);
  color: var(--text-color);
}

.input-row {
  display: flex;
  justify-content: space-between;
  align-items: center;

  input,
  select {
    width: 50%;
  }
}

.row,
.input-row {
  &:not(:nth-last-of-type(1)) {
    margin-bottom: 8px;
  }

  label {
    font-weight: bold;
  }
}
