@import 'variables';

input[type='text'] {
  padding: 8px;
  width: 100%;
  height: 36px;
  border: none;
  background-color: var(--bg-color-muted);
  color: var(--text-color);
  border-radius: 5px;
  transition: all 0.2s;

  &:hover {
    background-color: var(--border-color);
    cursor: text;
  }

  &:focus {
    outline: 2px solid var(--primary);
    background-color: var(--bg-color-muted);
  }
}

select {
  padding: 0 8px;
  height: 36px;
  border: none;
  background-color: var(--bg-color-muted);
  color: var(--text-color);
  border-radius: 36px;
  box-shadow: var(--shadow-lowest);
  transition: all 0.2s;

  &:hover {
    background-color: var(--border-color);
    cursor: pointer;
  }

  &:focus-visible {
    outline: none;
  }
}

.input-row {
  display: flex;
  justify-content: space-between;
  align-items: center;

  input,
  select,
  label,
  app-button {
    width: 50%;
    appearance: none;
  }

  &--input-with-button {
    width: 50%;
    display: flex;
    gap: 8px;

    app-button {
      width: auto;
    }

    input,
    select {
      flex-grow: 1;
    }
  }
}

.row,
.input-row {
  &:not(:nth-last-of-type(1)) {
    margin-bottom: 8px;
  }
}
