@import '~jqwidgets-ng/jqwidgets/styles/jqx.base.css';

.jqx-widget-content {
  color: var(--high-contrast-text-color);
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 14px;
  border: none;
  width: 100%;
  background: var(--bg-color-muted);
}

.jqx-tree-item {
  border: none;

  &-li {
    text-indent: 0;
    background-color: transparent;
    border: none;
  }

  &-selected {
    color: inherit;
    right: 0;
    cursor: pointer;
    text-decoration: none;
  }

  &-arrow {
    &-expand,
    &-collapse {
      margin-top: 1px !important; // Overwrite inline styling
    }
  }
}

.jqx-fill-state {
  &-hover {
    background: var(--bg-color-muted);
  }

  &-pressed {
    background: var(--bg-color-muted);

    &.jqx-tree-item {
      background: var(--primary);
      border-radius: 5px;
    }
  }
}

.jqx-rc-all {
  border-radius: 0;
}

.jqx-tree-dropdown {
  position: relative;
  left: 0;
  line-height: 1.2;

  &::before {
    content: '';
    position: absolute;
    inset: 0 8px;
    width: 1px;
    background: var(--shade-2);
  }

  &-root {
    padding: 0 9px;
  }
}
