@import '~jqwidgets-ng/jqwidgets/styles/jqx.base.css';

.jqx-widget-content {
  color: var(--text-color);
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 14px;
  border: none;
  width: 100%;
  background: var(--bg-color-muted);
}

.jqx-dropdownbutton-popup {
  .jqx-widget-content {
    background: var(--bg-color-muted);
  }
}

.jqx-tree-item {
  border: none;
  padding: 0;
}

.jqx-tree-item-li {
  text-indent: 0;
  background-color: transparent;
  border: none;
}

.jqx-tree-item-selected {
  color: inherit;
  right: 0;
  cursor: pointer;
  text-decoration: none;
}

.jqx-fill-state-hover {
  background: var(--bg-color-muted);
}

.jqx-fill-state-pressed {
  background: var(--bg-color-muted);

  &.jqx-tree-item {
    background: var(--dark-cyan);
  }
}

.jqx-rc-all {
  border-radius: 0;
}

.jqx-tree-dropdown {
  position: relative;
  left: 0;
  line-height: 1.2;

  &:before {
    content: '';
    position: absolute;
    inset: 0 8px;
    width: 1px;
    background: var(--shade-2);
  }
}

.jqx-tree-dropdown-root {
  padding: 0 9px;
}

.jqx-tree-item-arrow-expand,
.jqx-tree-item-arrow-collapse {
  transform-origin: center;
  transform: scale(0.75);
}
