@import '~src/assets/styles/variables';
@import '~ngx-smart-modal/ngx-smart-modal';

.nsm-dialog {
  max-width: fit-content;
  min-width: 400px;

  .nsm-content {
    background-color: var(--bg-color);
    color: var(--text-color);
    border: none;
    box-shadow: var(--shadow-highest);
    padding: 1em;
    border-radius: 10px;
    overflow: auto;

    .nsm-body {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      gap: 16px;

      h1 {
        word-wrap: anywhere;
      }

      hr {
        border: none;
        height: 2px;
        background: var(--bg-color-muted);
        margin: 15px 0;
      }

      .button-actions {
        display: flex;
        justify-content: end;
        gap: 16px;
      }
    }

    .nsm-dialog-btn-close {
      color: var(--text-color);
      top: 16px;
      right: 16px;
      padding: 0;

      &:focus {
        outline: none;
      }
    }
  }
}

.overlay.nsm-overlay-open {
  background: rgb(0 0 0 / 20%);
  backdrop-filter: blur(5px);
}
