@import 'variables';
@import '~ngx-toastr/toastr';

.toast-container .ngx-toastr {
  border-radius: 10px;
  background-position: 15px center;
  box-shadow: var(--shadow-high);
  transition: all 0.2s;

  &:hover {
    transform: scale(1.05);
    box-shadow: var(--shadow-highest);
  }
}

.toast-success {
  background-color: $success-color;
}

.toast-error {
  background-color: $danger-color;
}

.toast-info {
  background-color: $info-color;
}

.toast-warning {
  background-color: $warning-color;
}
