@import 'variables';
@import '~ngx-toastr/toastr';

.toast-container .ngx-toastr {
  border-radius: 10px;
  background-position: 15px center;
  box-shadow: 15px 15px 30px rgba(0, 0, 0, 0.5);
  transition: all 0.4s;

  &:hover {
    transform: scale(1.05);
    box-shadow: 20px 20px 40px rgba(0, 0, 0, 0.5);
  }
}

.toast-success {
  background-color: $success-color;
}

.toast-error {
  background-color: $danger-color;
}

.toast-info {
  background-color: $info-color;
}

.toast-warning {
  background-color: $warning-color;
}
