.node:host {
  position: absolute;
  min-width: 200px;
  min-height: 100px;
  padding: 1em;
  border: 2px solid var(--accent-dark);
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--accent-whiten);
  color: var(--accent);

  &:hover {
    cursor: grab;
  }

  &.jtk-drag {
    box-shadow: 5px 5px 0 0 var(--accent-shadow);
    cursor: grabbing;
  }
}
