<div class="header">
  <div class="logo">
    <img src="./assets/images/frank-flow-logo.svg" />
  </div>
  <div class="header__actions">
    <app-button
      (click)="openAddDialog()"
      color="dark"
      title="Add a file or folder"
    >
      <fa-icon icon="plus"></fa-icon>
    </app-button>
    <app-button
      (click)="save()"
      [selected]="!currentFile?.saved"
      color="dark"
      title="Save this file"
    >
      <fa-icon icon="save"></fa-icon>
    </app-button>
    <app-button
      (click)="openEditFileDialog()"
      color="dark"
      title="Modify this file"
    >
      <fa-icon icon="pen"></fa-icon>
    </app-button>
    <app-button
      *ngIf="currentFile?.type === fileType.CONFIGURATION"
      (click)="openConfigurationSettings()"
      color="dark"
      title="Modify flow settings"
    >
      <fa-icon icon="cogs"></fa-icon>
    </app-button>
  </div>
  <div class="current-file-title" [title]="currentFileTitle()">
    {{ currentFileTitle() }}
  </div>
  <div class="header__actions--right">
    <app-modes></app-modes>
    <app-button
      (click)="openSettings()"
      color="dark"
      title="Open settings menu"
    >
      <fa-icon icon="cog"></fa-icon>
    </app-button>
  </div>
</div>
<app-settings></app-settings>
<app-configuration-settings></app-configuration-settings>
<app-save-dialog></app-save-dialog>
<app-edit-dialog></app-edit-dialog>
