:host {
  position: relative;
  display: grid;
  grid-template-columns: 256px auto;
  height: 64px;
  box-shadow: var(--shadow-medium);
  z-index: 20;
}

.logo {
  height: 100%;
  width: 256px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url('~src/assets/images/header-profile.png');
}

.header {
  background: var(--dark-cyan);
  width: 100%;
  height: 64px;

  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 16px;

  &__actions {
    display: flex;
    gap: 16px;

    &--right {
      display: flex;
      justify-content: space-between;
      gap: 16px;
      width: 224px;
    }
  }

  .current-file-title {
    color: #f3f3f3;
    line-height: 40px;
  }
}
