<div class="header">
  <div class="header__logo">
    <img src="./assets/images/frank-flow-logo.svg" alt="Frank!Flow" />
  </div>
  <div class="header__actions">
    <app-button
      (click)="openAddDialog()"
      color="dark"
      title="Add a file or folder"
      ><fa-icon icon="file"></fa-icon
    ></app-button>
    <app-selector></app-selector>
    <app-button
      (click)="save()"
      [selected]="!currentFile?.saved"
      color="dark"
      title="Save this file"
    >
      <fa-icon icon="save"></fa-icon>
    </app-button>
    <app-button
      (click)="openEditFileDialog()"
      color="dark"
      title="Modify this file or folder"
    >
      <fa-icon icon="pen"></fa-icon>
    </app-button>
  </div>
  <div class="header__actions--right">
    <app-modes></app-modes>
    <app-button (click)="openSettings()" color="dark" title="Open settings">
      <fa-icon icon="cog"></fa-icon>
    </app-button>
  </div>
</div>
<app-settings></app-settings>
<app-save-dialog></app-save-dialog>
<app-edit-dialog></app-edit-dialog>
