$primary-color: #fdc300;
$accent-color: #19aa8d;
$success-color: #8bc34a;
$info-color: #00abff;
$warning-color: #ffc107;
$danger-color: #fe41ff;

$border-color: #c4c4c4;
$text-color: #676a6c;

$background-color: #f3f3f3;
$background-color-dark: #2f4050;
$background-color-darker: #1e1e1e;

$shadow-color: #00000099;

$z-index-header: 100;
$z-index-treeview: 50;
