$primary-color: #FDC300;
$border-color: #C4C4C4;
$text-color: #676A6C;

$background-color: #F3F3F3;
$background-color-dark: #2F4050;
$background-color-darker: #1E1E1E;

$z-index-header: 100;
$z-index-treeview: 50;
