@import 'variables';

input {
  padding: 16px;
  width: 100%;
  height: 32px;
  border: 2px solid $border-color;

  &:focus {
    outline: 0;
  }
}

.input-row {
  display: flex;
  justify-content: space-between;
  align-items: center;

  &:not(:nth-last-of-type(1)) {
    margin-bottom: 16px;
  }

  label {
    font-weight: bold;
  }

  input {
    width: 50%;
  }
}
