@import '~jqwidgets-ng/jqwidgets/styles/jqx.base.css';

.jqx-widget-content {
  color: var(--text-color);
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 16px;
  border: none;
  background: var(--bg-color);
}

.jqx-dropdownbutton-popup {
  .jqx-widget-content {
    background: var(--bg-color-muted);
  }
}

.jqx-tree-item {
  border: none;
  padding: 4px;
}
.jqx-tree-item-li {
  text-indent: 0;
  background-color: transparent;
  border: none;
}
.jqx-tree-item-hover {
  padding: 4px;
}
.jqx-tree-item-selected {
  color: inherit;
  right: 0;
  padding: 4px;
  cursor: pointer;
  text-decoration: none;
}

.jqx-fill-state-hover {
  background: var(--bg-color-muted);
}

.jqx-fill-state-pressed {
  background: var(--bg-color-muted);

  &.jqx-tree-item {
    background: none;
  }
}

.jqx-rc-all {
  border-radius: 0;
}

.jqx-tree-dropdown-root {
  padding: 0 9px;
}
