@import '~src/assets/styles/variables';
@import '~ngx-smart-modal/ngx-smart-modal';

.nsm-dialog {
  max-width: fit-content;

  .nsm-content {
    background-color: var(--bg-color);
    color: var(--text-color);
    border: 2px solid var(--border-color);
    box-shadow: 5px 5px 0 0 $shadow-color;
    padding: 1em;
    border-radius: 0;
    overflow: auto;

    .nsm-body {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      gap: 16px;

      h1 {
        word-wrap: anywhere;
      }
    }

    .nsm-dialog-btn-close {
      color: var(--text-color);
      top: 16px;
      right: 16px;
      padding: 0;

      &:focus {
        outline: none;
      }
    }
  }
}
