@import 'variables';
@import '~ngx-toastr/toastr';
@import '~ngx-smart-modal/ngx-smart-modal';

* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  overflow: hidden;
  color: $text-color;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
