@import 'variables';
@import 'toastr';
@import 'ngx-smart-modal';
@import 'inputs';
@import 'theme';

* {
  box-sizing: border-box;
  transition: background-color 0.4s;
}

html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  overflow: hidden;
  color: $text-color;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
