<div
  [ngClass]="{
    light: !settings.darkMode,
    dark: settings.darkMode
  }"
  class="root"
>
  <app-header></app-header>
  <div class="body">
    <app-explorer *ngIf="settings.showExplorer"></app-explorer>
    <div class="modes">
      <app-editor
        (finishedLoading)="initializeLoadLastSessionFile()"
        [class.shareSpace]="mode.is(modeType.hybridMode)"
        [class.useAllSpace]="mode.is(modeType.editorMode)"
        [hidden]="mode.is(modeType.flowMode)"
      ></app-editor>
      <app-flow
        *ngIf="mode.is(modeType.flowMode) || mode.is(modeType.hybridMode)"
        [class.shareSpace]="mode.is(modeType.hybridMode)"
        [class.useAllSpace]="mode.is(modeType.flowMode)"
      ></app-flow>
    </div>
    <div class="actions">
      <div
        class="actions--item"
        [style.left]="settings.showExplorer ? '256px' : 0"
      >
        <app-button
          (click)="toggleExplorer()"
          [title]="(settings.showExplorer ? 'Hide' : 'Show') + ' Explorer'"
        >
          <fa-icon [icon]="foldExplorerArrow()"></fa-icon>
        </app-button>
      </div>
      <div
        class="actions--item"
        [style.right]="settings.showPalette ? '256px' : 0"
        *ngIf="
          currentFile?.type === fileType.CONFIGURATION &&
          !mode.is(modeType.editorMode)
        "
      >
        <app-button
          (click)="togglePalette()"
          [title]="(settings.showPalette ? 'Hide' : 'Show') + ' Palette'"
        >
          <fa-icon [icon]="foldPaletteArrow()"></fa-icon>
        </app-button>
      </div>
    </div>
  </div>
  <app-add-dialog></app-add-dialog>
  <app-greeter-dialog></app-greeter-dialog>
</div>
