.root {
  height: 100%;
  width: 100%;

  .body {
    height: calc(100% - 64px);

    .main-container {
      display: flex;
      height: 100%;

      .useAllSpace {
        width: 100%;
      }

      .shareSpace {
        width: 50%;
      }
    }

    app-explorer {
      flex-grow: 1;
      width: 256px;
      height: 100%;
      display: block;
      float: left;
    }
  }
}

[hidden] {
  display: none !important;
}
