# IDE
.settings
.idea
frank-flow.iml

# Maven build
/target
.mvn
dependency-reduced-pom.xml


node_modules/*

# Cypress output
/src/frontend/cypress/videos/

# Test frank config
/src/frontend/cypress/Frank/target
/src/frontend/cypress/Frank/.gitignore