#canvas {
  background-color: var(--bg-color);
  background-size: 100px 100px, 100px 100px, 20px 20px, 20px 20px;
  background-position: -1px -1px, -1px -1px, -1px -1px, -1px -1px;
  background-image: -webkit-linear-gradient(var(--shade-1) 1px, transparent 1px),
    -webkit-linear-gradient(0, var(--shade-1) 1px, transparent 1px),
    -webkit-linear-gradient(var(--shade-1-shadow) 1px, transparent 1px),
    -webkit-linear-gradient(0, var(--shade-1-shadow) 1px, transparent 1px);
  display: inline-block;
  position: relative;
  width: 1000px;
  height: 1000px;
}
