@import '~src/assets/styles/variables';

.search-box {
  background-color: white;
  padding: 16px;
  border-top: 2px solid $primary-color;
  border-bottom: 2px solid $border-color;

  input {
    padding: 16px;
    width: 100%;
    height: 32px;
    border: 2px solid $border-color;
  }
}
