<ngx-smart-modal
  #optionsModal
  (onDataAdded)="onDataAdded()"
  class="optionsModal"
  customClass="nsm-centered"
  identifier="optionsModal"
>
  <div>
    <h1>
      {{ node?.name }}
    </h1>
    <div class="input-row">
      <label for="name">Name:</label>
      <input [(ngModel)]="node.name" id="name" type="text" />
    </div>
    <div class="input-row">
      <label for="toggle">Test toggle = {{ toggle }}:</label>
      <app-toggle [(state)]="toggle" id="toggle"></app-toggle>
    </div>
  </div>
  <div>
    <app-button (click)="optionsModal.close()">Close</app-button>
  </div>
</ngx-smart-modal>
