<ngx-smart-modal
  #optionsModal
  (onDataAdded)="onDataAdded()"
  (onOpen)="onOpen()"
  (onAnyCloseEvent)="onAnyCloseEvent()"
  class="optionsModal"
  customClass="nsm-centered"
  identifier="optionsModal"
>
  <div>
    <h2>{{ structureNode?.type }}: {{ structureNode?.name }}</h2>
    <p [innerHTML]="nodeDescription"></p>
    <!-- TODO: Change to local Frank!Runner env URI -->
    <a
      href="https://ibis4example.ibissource.org/iaf/frankdoc/#!/All/{{
        structureNode?.type
      }}"
      target="_blank"
      ><app-button>Read more</app-button></a
    >
    <hr />
    <!-- TODO: Name and type here, those are generic for all nodes. Other attributes can be seen as 'additional' -->
    <h2>Attributes</h2>
    <div class="input-row" *ngIf="availableAttributes.length > 0">
      <label for="selectAttribute">Add attribute:</label>
      <select id="selectAttribute" [(ngModel)]="selectedAttribute" required>
        <option selected [ngValue]="undefined" hidden disabled>
          Choose an attribute...
        </option>
        <option
          *ngFor="let availableAttribute of availableAttributes"
          [ngValue]="availableAttribute"
          [hidden]="
            attributeIsUsed(availableAttribute?.name) ||
            availableAttribute?.deprecated
          "
        >
          {{ availableAttribute?.name }}
        </option>
      </select>
    </div>
    <div class="input-row" *ngIf="selectedAttribute">
      <label for="newAttribute">New attribute value:</label>
      <input
        id="newAttribute"
        type="text"
        [(ngModel)]="newAttributeValue"
        [placeholder]="selectedAttribute?.default ?? ''"
        (keyup.enter)="addAttribute()"
      />
    </div>
    <div
      *ngIf="selectedAttribute && selectedAttribute?.description"
      class="row"
    >
      <label>Description of attribute</label>
      <p [innerHTML]="selectedAttribute?.description"></p>
    </div>
    <div class="row" *ngIf="newAttributeValue">
      <app-button (click)="addAttribute()"
        >Add {{ selectedAttribute?.name }}</app-button
      >
    </div>
    <hr />
    <ng-container
      *ngFor="
        let attribute of attributes | keyvalue;
        trackBy: customTrackBy;
        index as i
      "
    >
      <div
        class="input-row"
        *ngIf="!disabledAttributes.includes(attribute.key)"
      >
        <label for="name">{{ attribute.key }}:</label>
        <input
          type="text"
          id="name"
          [ngModel]="attributes[attribute.key].value"
          (ngModelChange)="changeAttribute(attribute.key, $event)"
        />
        <app-button (click)="deleteAttribute(attribute.key)">Delete</app-button>
      </div>
    </ng-container>
  </div>
</ngx-smart-modal>
