<div [className]="'group group--' + color">
  <div class="group__header">
    <div>{{ this.type }}</div>
    <fa-icon
      (click)="toggleFold()"
      [icon]="foldArrow()"
      [title]="foldGroup ? 'Expand' : 'Fold'"
    ></fa-icon>
  </div>
  <div [hidden]="foldGroup" class="group__list">
    <ng-container
      *ngIf="items !== undefined && items.length > 0; else emptyGroup"
    >
      <app-item
        (click)="addNode(item)"
        *ngFor="let item of items"
        [color]="locked ? 'locked' : color"
        [name]="item.name"
      ></app-item>
    </ng-container>
  </div>
</div>
<ng-template #emptyGroup>
  <p>No results.</p>
</ng-template>
