@import "~src/assets/styles/variables";

.button {
  height: 32px;
  min-width: 32px;
  border: 2px solid $border-color;
  // TODO: Better alignment
  line-height: 24px;
  padding: 4px;
  text-align: center;

  &--light {
    background-color: white;
    color: $text-color;
  }

  &--dark {
    background: $background-color-dark;
    color: white;
  }
}

.selected {
  border-color: $primary-color;
}
