@import '~src/assets/styles/variables';

.button {
  color: var(--text-color);
  border: 2px solid var(--border-color);
  height: 32px;
  min-width: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  font-weight: bold;
  transition: background-color 0.2s;

  &:hover {
    background-color: $primary-color;
    border-color: $primary-color;
    color: $text-color;
  }

  &--default {
    background-color: var(--bg-color);
  }

  &--dark {
    background: $background-color-dark;
    color: white;
  }
}

.selected {
  border-color: $primary-color;
}
