@import '~src/assets/styles/variables';

.button {
  height: 32px;
  min-width: 32px;
  border: 2px solid $border-color;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  font-weight: bold;

  &--light {
    background-color: white;
    color: $text-color;

    &:hover {
      background-color: $primary-color;
      border-color: $primary-color;
    }
  }

  &--dark {
    background: $background-color-dark;
    color: white;

    &:hover {
      background-color: $primary-color;
      border-color: $primary-color;
      color: $text-color;
    }
  }
}

.selected {
  border-color: $primary-color;
}
