body, html {
  height: 100%;
}

hr {
  width: 100%;
  border: 1px solid black;
}

.main-container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  overflow: hidden;
}

.pipeInfoWrapper {
  height: 30%;
  width: 100%;
  overflow-y: auto;
  background: #F3F3F4;
}

.monaco-pipeinfo-container-wrapper {
  height: 100%;
  width: 85%;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
}

.menu-monaco-container-wrapper {
  width: 20%;
  height: 100%;
  display: flex;
  flex-direction: row;
  overflow: visible;
}

.monaco-flow-wrapper {
  width: 100%;
  height: 70%;
  display: flex;
  flex-direction: row;
  overflow: visible;
}

.menu-wrapper {
  width: 15%;
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow: visible;
}

.tools-editors-wrapper {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
}

.window {
  position: absolute;
}

.window:hover {
  box-shadow: 2px 2px 19px #444;
  -o-box-shadow: 2px 2px 19px #444;
  -webkit-box-shadow: 2px 2px 19px #444;
  -moz-box-shadow: 2px 2px 19px #fff;
}
