.fileTree {
  min-width: 100%;
  height: 50%;
  background-color: #1e1e1e;
  color: white;
  overflow: auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  box-shadow: #000000 -6px 0 6px -6px inset;
  border: 4px solid black;
}

.filePaletteWrapper {
  height: 100%;
  min-width: 13%;
  display: flex;
  flex-direction: column;
  border: 1px solid black;
}
.fileTree li {
  font-size: 10px;
  padding: 50px;
}

.fileTree h2 {
  margin-left: 5%;
}

.fileButton {
  margin-left: 5%;
  margin-bottom: 1%;
}
.fileButton :last-of-type {
  margin-left: 1%;
}

.icons {
  width: 100%;
  height: auto;
}

div.icons #addFile:hover {
  background-color: red;
}
