<ngx-smart-modal
  #addDialog
  (onDataAdded)="onDataAdded()"
  (onOpenFinished)="inputElement.focus()"
  class="addDialog"
  customClass="nsm-centered"
  identifier="addDialog"
>
  <div>
    <h1>
      Add a new {{ isFolder ? 'folder' : 'file' }} to
      {{ currentDirectory?.configuration }}: {{ currentDirectory?.path }}
    </h1>
  </div>
  <div class="input-row">
    <label> Do you want to create a folder? </label>
    <app-toggle [(state)]="isFolder"></app-toggle>
  </div>
  <input
    #inputElement
    (keyup.enter)="add()"
    [(ngModel)]="fileName"
    [placeholder]="(isFolder ? 'Folder' : 'File') + ' name'"
    type="text"
  />
  <div class="row"></div>
  <div class="button-actions">
    <app-button (click)="add()">Add</app-button>
    <app-button (click)="addDialog.close()">Cancel</app-button>
  </div>
</ngx-smart-modal>
