<ngx-smart-modal
  #addDialog
  (onDataAdded)="onDataAdded()"
  (onOpenFinished)="inputElement.focus()"
  class="addDialog"
  customClass="nsm-centered"
  identifier="addDialog"
>
  <div class="row">
    <h2 class="header">
      Add a new {{ isFolder ? 'folder' : 'file' }} to
      {{ currentDirectory?.configurationName }}: {{ currentDirectory?.path }}
    </h2>
  </div>
  <div class="input-row">
    <label> Do you want to create a folder? </label>
    <app-toggle [(state)]="isFolder"></app-toggle>
  </div>
  <div class="row">
    <input
      #inputElement
      (keyup.enter)="add()"
      [(ngModel)]="fileName"
      [placeholder]="(isFolder ? 'Folder' : 'File') + ' name'"
      type="text"
    />
  </div>
  <div class="row button-actions">
    <app-button (click)="add()">Add</app-button>
    <app-button (click)="addDialog.close()">Cancel</app-button>
  </div>
</ngx-smart-modal>
