.button {
  color: var(--high-contrast-text-color);
  border: none;
  height: 36px;
  min-width: 36px;
  text-transform: capitalize;
  font-weight: bold;
  padding: 4px;
  transition: all 0.2s;
  font-size: 16px;
  border-radius: 5px;

  &:hover {
    color: var(--high-contrast-text-color);
    background-color: var(--border-color);
  }

  &:active {
    background: var(--primary);
  }

  &--default {
    background-color: var(--bg-color-muted);
  }

  &--block {
    display: block;
    width: 100%;
  }

  &--dark {
    background: var(--dark-cyan);
    color: #f3f3f3;
  }
}

.selected {
  background: var(--primary);
}
