.button {
  color: var(--high-contrast-text-color);
  border: 1px solid var(--border-color);
  height: 36px;
  min-width: 36px;
  text-transform: capitalize;
  font-weight: bold;
  padding: 4px;
  transition: background-color 0.2s, border 0.2s;
  font-size: 16px;
  border-radius: 5px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);

  &:hover {
    background-color: var(--primary);
    border-color: var(--primary);
  }

  &--default {
    background-color: var(--bg-color);
  }

  &--block {
    display: block;
    width: 100%;
  }

  &--dark {
    background: var(--dark-cyan);
    color: #f3f3f3;
  }
}

.selected {
  border-color: var(--primary);
  background: var(--primary);
}
