<app-button
  [selected]="mode.is(modeType.editorMode)"
  (click)="setMode(modeType.editorMode)"
>
  <fa-icon icon="code" transform="down-1"></fa-icon>
</app-button>
<app-button
  [selected]="mode.is(modeType.hybridMode)"
  (click)="setMode(modeType.hybridMode)"
>
  <fa-icon icon="columns" transform="down-1"></fa-icon>
</app-button>
<app-button
  [selected]="mode.is(modeType.flowMode)"
  (click)="setMode(modeType.flowMode)"
>
  <fa-icon icon="project-diagram" transform="down-1"></fa-icon>
</app-button>
