:host {
  height: 100%;
  width: 100%;
  background: var(--bg-color-muted);
  padding: 16px;
  display: grid;
  overflow: hidden;
  align-content: start;
  grid-row-gap: 16px;
  box-shadow: -15px 0 30px rgba(0, 0, 0, 0.1);
  position: relative;
  z-index: 10;
}

app-group {
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

app-search {
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}
