<ngx-smart-modal
  #settingsModal
  class="settingsModal"
  customClass="nsm-centered"
  identifier="settingsModal"
>
  <div class="settings-container">
    <h1>Settings</h1>
    <h2>Appearance</h2>
    <div class="input-row">
      <label>Enable dark mode</label>
      <app-toggle
        [(state)]="settings.darkMode"
        (stateChange)="setSettings()"
      ></app-toggle>
    </div>
    <div class="input-row">
      <label for="edit-mode">Default edit mode</label>
      <select
        [(ngModel)]="settings.defaultMode"
        (ngModelChange)="setSettings()"
        id="edit-mode"
      >
        <option [value]="modeType.flowMode">Flow</option>
        <option [value]="modeType.hybridMode">Hybrid</option>
        <option [value]="modeType.editorMode">Editor</option>
      </select>
    </div>
    <div class="input-row">
      <label for="edit-mode">Use last edit mode</label>
      <app-toggle
        [(state)]="settings.useLastMode"
        (stateChange)="setSettings()"
      ></app-toggle>
    </div>
    <!--    // TODO: This was one of the first features implemented for settings, but it never got used. I'm making a feature to implement this in more places.-->
    <!--    <div class="input-row">-->
    <!--      <label>Show confirmation popups</label>-->
    <!--      <app-toggle-->
    <!--        [(state)]="settings.showPopups"-->
    <!--        (stateChange)="setSettings()"-->
    <!--      ></app-toggle>-->
    <!--    </div>-->
    <hr />
    <h2>Explorer</h2>
    <div class="input-row">
      <label for="switch-without-saving-options"
        >What do you want to do with the current file when switching
        files?</label
      >
      <select
        [(ngModel)]="settings.switchWithoutSaving"
        (ngModelChange)="setSettings()"
        id="switch-without-saving-options"
      >
        <option [value]="switchWithoutSavingOptions.ask">Ask me</option>
        <option [value]="switchWithoutSavingOptions.save">Save</option>
        <option [value]="switchWithoutSavingOptions.discard">Discard</option>
      </select>
    </div>
    <hr />
    <h2>Flow</h2>
    <div class="input-row">
      <label for="edit-mode">Snap to grid</label>
      <select
        [(ngModel)]="settings.gridConfiguration"
        (ngModelChange)="setSettings()"
        id="grid-configuration"
      >
        <option [value]="gridConfiguration.free">
          Don't snap, move freely
        </option>
        <option [value]="gridConfiguration.tenth">
          Snap every tenth of a square
        </option>
        <option [value]="gridConfiguration.quarter">
          Snap every quarter of a square
        </option>
        <option [value]="gridConfiguration.half">
          Snap on a half or whole square
        </option>
        <option [value]="gridConfiguration.whole">
          Snap on a whole square
        </option>
      </select>
    </div>
    <div class="input-row">
      <label for="edit-mode">Connection type</label>
      <select
        [(ngModel)]="settings.connectionType"
        (ngModelChange)="setSettings()"
        id="connection-type"
      >
        <option [value]="connectionType.bezier">Bezier</option>
        <option [value]="connectionType.flowchart">Flowchart</option>
        <option [value]="connectionType.straight">Straight</option>
      </select>
    </div>
    <div class="input-row">
      <label>Enable vertical connectors</label>
      <app-toggle
        [(state)]="settings.verticalConnectors"
        (stateChange)="setSettings()"
      ></app-toggle>
    </div>
  </div>
</ngx-smart-modal>
