<app-search [(term)]="search"></app-search>
<app-group
  color="info"
  type="Listeners"
  [items]="paletteService.data?.get('Listeners') | filter: search"
></app-group>
<app-group
  color="accent"
  type="Pipes"
  [items]="paletteService.data?.get('Pipes') | filter: search"
></app-group>
<app-group
  color="success"
  type="Senders"
  [items]="paletteService.data?.get('Senders') | filter: search"
></app-group>
<app-group
  color="danger"
  type="other"
  [items]="paletteService.data?.get('Other') | filter: search"
></app-group>
