name: Run Cypress test
on: push
jobs:
  cypress-test:
    runs-on: windows-latest
    steps:
      - name: Checkout this frank-flow repository
        uses: actions/checkout@v2
        with:
          path: frank-flow
      - name: Setup Node
        uses: actions/setup-node@v2
      - name: Checkout frank-runner
        uses: actions/checkout@v2
        with:
          repository: ibissource/frank-runner
          path: frank-runner
      - name: Working directory
        run: echo $pwd
      - name: Write frank-flow.properties
        run: echo "frank-flow.frontend-path = $($pwd -replace '\\','\\')\\target\\frontend" > frank-runner\\frank-flow.properties
      - name: Build backend
        run: mvn -f frank-flow -P frontend --log-file backendMavenBuildLog.txt clean install
      - name: Run cypress test
        uses: cypress-io/github-action@v2.9.7
        with:
          working-directory: frank-flow\\frank-flow\\src\\frontend
          start: ant -buildfile cypress\\Frank\\build.xml
          wait-on: "http://localhost:1000/frank-flow/"
          wait-on-timeout: 450
      - name: List all files
        if: always()
        run: tree > allFiles.txt
      - name: Store (logging) information as artifact
        if: always()
        uses: actions/upload-artifact@v2
        with:
          name: logs
          path: |
            allFiles.txt
            backendMavenBuildLog.txt
            frank-runner\\build.properties
            frank-runner\\frank-flow.properties
            frank-runner\\build\\apache-tomcat*\\logs
